:root{
    /* ### Primary-color */
  
  --Yellow: hsl(47, 88%, 63%);
  
  /* ### Neutral-color */
  
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

* {
    font-family: 'Figtree';
}

.attribution { 
    font-size: 15px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: var(--Yellow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
}

main {
    background-color: var(--White);
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 1.2em;
    border: 1px solid var(--Black);
    border-radius: 15px;
    box-shadow: 6px 6px  var(--Black);
}


.main_image {
    border-radius: 10px;
    margin: 10px 15px 10px 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.small-box {
    background-color: var(--Yellow);
    padding: 10px 15px;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 800;
    
    display: inline-block;

}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    font-weight: 800;
}

.author img {
    width: 32px;
    height: 32px;

    display:block;

    margin-right: 12px;

}

.content {
    text-align: left;
    display: grid;
    padding-top: 10px;
}

h1 {
    font-weight: 500;
    margin: 0;
    font-size: 14px;
}

p {
    margin: 0px 0px 20px;
    color: var(--Grey);
}

footer {
    margin: 15px;
}


 h2 a:link {
    color: var(--Black);
    background-color: transparent;
    text-decoration: none;

    margin: 0;
    font-weight: 800;
}

a:visited, a:active {
    color: var(--Yellow);
}

